/* Signed.Sealed.Remembered. Prototype */

/* ================================================================================
CSS RESET
================================================================================ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ================================================================================
OVERALL FUNCTION
================================================================================ */
body {
	/*background: url('../images/seamlessPaper.jpg') repeat; */

	
}

#pageContainer {
	margin: 0 auto;
	width: 100%;
}

#header {
    position: fixed;
    z-index: 1000;
    background: #fff;
    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px #888;
    box-shadow: 0 0 10px #888;
    width: 100%;
    height: auto;
    min-height: 40px;
    padding-top: 1em;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 768px;
}

.backBtn {
	float: left;
	border: none;
}

.helpBtn {
	float: right;
	border: none;
}